/* mobile first */

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.main::-webkit-scrollbar,
.intro::-webkit-scrollbar,
.floorcontainer::-webkit-scrollbar,
.castcontainer::-webkit-scrollbar {
    /* Hides Horizontal Scrollbar */
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800,900&display=swap');
html,
body {
    cursor: url(../images/ochandpurp.png) 1 17, auto;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.main {
    min-height: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-image: url(../images/bricks_mobile.png);
    /* background-position-x: center; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.intro {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: black;
    vertical-align: middle;
    text-align: center;
    z-index: 30;
}

.introtext {
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: "900";
    color: white;
    margin-top: 38%;
    max-width: 90%;
    display: none;
    will-change: width;
}

.introtext>span {
    text-transform: uppercase;
    letter-spacing: 6.8;
    padding-left: 5px;
    font-size: .01em;
}

.phrase {
    color: inherit;
}

#phrase1 {
    font-size: 20;
}

.loading {
    font-size: 25;
    font-family: 'Special Elite', sans-serif;
    margin-top: 35;
    margin-left: 210;
    color: #0a0a0a;
    position: absolute;
    -webkit-text-stroke-width: thin;
    display: none;
}

.oldtv {
    margin-top: 0px;
    margin-left: 0px;
    width: 325;
    height: auto;
    position: absolute;
    z-index: 100;
    /* content: url(../images/oldtvnoscreen1_tallsmall.png); */
}

.oldtvcontainer {
    position: absolute;
    bottom: 83%;
    left: 20;
    z-index: 10;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}

.oldtvscreen {
    height: inherit;
    width: inherit;
    z-index: 10;
    position: absolute;
}

.tvremotecontainer {
    left: 220;
    bottom: -350;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    position: relative;
    z-index: 100000000;
    display: inline-block;
}

.oldtvremote {
    /* content: url(../images/oldtvremotemobile2.png); */
    width: 200px;
    height: auto;
    display: none;
}

.channeldisplay {
    top: 50;
    left: 277;
    width: 25px;
    height: 22px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    background: #444242;
    border-radius: 4px;
    opacity: .9;
    font-family: 'Apple II Screen Typeface', sans-serif;
    color: #bd3636;
    /* display: none; */
    z-index: 1000;
}

.channelvideocontainer {
    margin-left: 32px;
    margin-top: 25px;
    width: 224;
    height: 175;
    z-index: 10;
    /* display: none; */
    position: absolute;
    overflow: hidden;
    background: #332f2f;
}

.usertvscreencontainer {
    height: inherit;
    width: inherit;
    object-fit: cover;
    display: none;
    z-index: 10;
    position: absolute;
}

#usertvscreen {
    height: inherit;
    width: inherit;
    object-fit: cover;
    opacity: .1;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}

.channelvideo {
    width: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1
}

.tvturning {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    background-size: cover;
    overflow: hidden;
    opacity: .7;
    margin-top: -120;
}

.floorcontainer {
    top: auto;
    bottom: 0;
    position: absolute;
    overflow: visible;
    max-height: 35%;
}

.hardwoodcontainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hardwood {
    content: url(../images/hardwood_mobile.png);
    width: 100%;
}

.rug {
    top: 30;
    left: 15;
    width: 365;
    position: absolute;
}

.dog {
    top: -30;
    left: 40;
    transform: scaleX(-1);
    position: absolute;
    z-index: 10;
}

.barley {
    width: 250;
    display: none;
}

.wallart {
    top: 2;
    left: 40;
    position: absolute;
    width: 120px;
    height: 160px;
    z-index: 1;
    display: none;
}

.wallartitem {
    opacity: 0;
    transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
}

.wallartshow {
    opacity: 1;
}

.wallartframe {
    z-index: 10;
}

.wallartplaceholder {
    z-index: 1;
}

.wallartcanvas {
    z-index: 1;
    width: inherit;
    height: inherit;
    position: absolute;
}

.wallart>img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.sound {
    bottom: 7px;
    left: 7px;
    filter: invert(1);
    position: absolute;
    display: none;
    z-index: 10000 !important;
}

.sound>.yes {
    display: none;
    height: inherit;
    width: 40px;
    height: 40px;
}

.sound>.no {
    height: inherit;
    width: 40px;
    height: 40px;
}

.moreinfo {
    width: 100%;
    height: 550px;
    border: 1px solid #485b69;
    border-radius: 5px;
    opacity: .9;
    background: white;
    padding: 5px;
}

.moreinfocontainer {
    top: 20px;
    left: 20px;
    position: absolute;
    display: none;
    z-index: 10000000;
}

.castcontainer {
    padding: 5%;
    margin: 5%;
    position: absolute;
    /* bottom: -100%; */
    overflow-y: scroll;
    text-align: center;
    width: 90%;
    animation: 10s credits linear infinite;
    filter: invert(1) !important;
    background-color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    display: none;
    opacity: .8;
    /* display:none; */
}

.castHeader {
    font-size: 64;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-weight: 800;
}

.cast {
    font-size: 24;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@keyframes credits {
    0% {
        top: 80%;
    }
    100% {
        top: -110%;
    }
}

@keyframes intro {
    0% {
        top: 0px;
    }
    100% {
        top: -100%;
    }
}

.creditheader {
    margin-top: 30px;
    font-size: 24;
    font-weight: 700;
}

.credit {
    margin-top: 10px;
    font-weight: 700;
}

.table {
    text-align: inherit;
    width: 100%;
    margin-top: 50px;
    display: inline;
}

.tableheader {
    text-align: inherit;
    font-size: 48;
    margin-top: 100px;
    margin-bottom: 10px;
}

.column {
    width: 48%;
    padding: 2px;
    font-size: 14px;
}

.column>div {
    margin-bottom: 10px;
    height: 50px;
}

.columnone {
    text-align: left;
    float: left;
}

.columntwo {
    float: right;
    text-align: right;
}

.userMediaMessage {
    z-index: 20;
    background-color: black;
    opacity: .8;
    font-family: 'Montserrat', sans-serif;
    font-size: 22;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10%;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    position: fixed;
    top: 0;
    color: white;
    display: none;
    /* line-height: 1.2; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.userMediaMessageHeader {
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 700;
}

.accesswaiting>div {
    float: left;
    margin-left: 20px;
    font-size: 42;
}

.accesswaiting {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: -20px;
}

.accessstatus {
    margin-top: 10px;
    margin-bottom: 30px;
}

.remotebutton {
    width: 24px;
    height: 24px;
    /* background: red; */
    display: inline-block;
    position: absolute;
    z-index: 1000000;
    opacity: 0;
    cursor: unset;
}

#buttononoff {
    left: 70;
    top: 90;
}

#buttonchannelup {
    left: 99px;
    top: 85px;
}

#buttonchanneldown {
    left: 107px;
    top: 115;
}

#buttonfullscreen {
    left: 115;
    top: 142;
}

#buttonmoreinfo {
    left: 47;
    top: 155;
}

#buttonnumberone {
    top: 22;
    left: 29;
}

#buttonnumbertwo {
    top: 17;
    left: 55;
}

#buttonnumberthree {
    top: 15;
    left: 82;
}

#buttonnumberfour {
    top: 43;
    left: 31;
}

#buttonnumberfive {
    top: 41;
    left: 58;
}

#buttonnumbersix {
    top: 35;
    left: 85;
}

#buttonnumberseven {
    top: 65;
    left: 35;
}

#buttonnumbereight {
    top: 63;
    left: 64;
}

#buttonnumbernine {
    top: 57;
    left: 92;
}

#buttoninvert {
    top: 145;
    left: 82;
}

.directions-container {
    position: absolute;
    width: 160px;
    height: 200px;
    z-index: 10000000000;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
}

.directions-background-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.directions-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.directions-image-arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: directions 1s infinite alternate-reverse;
    -webkit-animation: directions 1s infinite alternate-reverse;
    -ms-animation: directions 1s infinite alternate-reverse;
    -o-animation: directions 1s infinite alternate-reverse;
}

.directions-header {
    font-size: 16;
    font-weight: 900;
    letter-spacing: 1.2;
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 18;
    text-transform: uppercase;
    font-family: Montserrat, "sans-serif";
}

.directions-text {
    font-size: 14px;
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 10;
    font-family: Montserrat, "sans-serif";
}

.direction-show {
    opacity: .8;
}

.suggestchannel {
    position: absolute;
    right: 10;
    top: 10;
    max-width: 40%;
    background: black;
    color: white;
    font-family: Montserrat, "sans-serif";
    border: 1px solid white;
    border-radius: 5px;
    opacity: .8;
    z-index: 10;
    padding: 15;
}

.suggestchannellink {
    width: 100%;
    color: white;
    text-decoration: none;
}

.suggestchanneltext {
    font-size: 14px;
    font-weight: bolder;
}

.suggestchanneldesc {
    font-size: 10px;
}

.betteron {
    font-size: 10px;
    display: block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4.8;
    margin-top: 50;
    font-family: Montserrat, "sans-serif";
}

@keyframes directions {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 480px) {
    html,
    body {
        overflow-y: visible;
        height: auto;
        position: auto;
    }
    .loading {
        font-size: 42;
        margin-top: 100;
        margin-left: 410;
    }
    .main {
        min-height: 1240px;
        background-image: url(../images/bricks.png);
    }
    .introtext {
        font-size: 3em;
        color: white;
        margin-top: 15%;
        max-width: 50%;
        display: none;
    }
    .introtext>span {
        text-transform: uppercase;
        letter-spacing: 10;
        padding-left: 10px;
        font-size: .36em;
    }
    .oldtv {
        margin-top: 40px;
        margin-left: 30px;
        width: 852px;
        content: url(../images/oldtvnoscreen1_medium.png);
    }
    .channeldisplay {
        top: 180;
        left: 755;
        font-size: 38;
        width: 55;
        height: 50;
    }
    .channelvideocontainer {
        height: 460px;
        width: 575px;
        margin-left: 123px;
        margin-top: 112px;
    }
    .oldtvremote {
        width: 300px;
        content: url(../images/oldtvremoteskewed2.png);
    }
    .oldtvcontainer {
        bottom: auto;
    }
    .remotebutton {
        width: 24px;
        height: 24px;
        /* background: red; */
        display: inline-block;
        position: absolute;
        z-index: 1000000;
    }
    #buttononoff {
        left: 98px;
        top: 112px;
    }
    #buttonchannelup {
        left: 127px;
        top: 102px;
    }
    #buttonchanneldown {
        left: 145px;
        top: 137px;
    }
    #buttonfullscreen {
        left: 165;
        top: 170;
    }
    #buttonmoreinfo {
        left: 92;
        top: 192;
    }
    #buttonnumberone {
        top: 42;
        left: 37;
    }
    #buttonnumbertwo {
        top: 35;
        left: 62;
    }
    #buttonnumberthree {
        top: 28;
        left: 87;
    }
    #buttonnumberfour {
        top: 64;
        left: 44;
    }
    #buttonnumberfive {
        top: 57;
        left: 71;
    }
    #buttonnumbersix {
        top: 49;
        left: 97;
    }
    #buttonnumberseven {
        top: 86;
        left: 54;
    }
    #buttonnumbereight {
        top: 81;
        left: 84;
    }
    #buttonnumbernine {
        top: 74;
        left: 111;
    }
    #buttoninvert {
        top: 178;
        left: 131;
    }
    .tvremotecontainer {
        left: 650;
        top: 500;
        bottom: auto;
        transform: rotate(0deg);
    }
    .moreinfo {
        width: 400px;
        height: 550px;
        border-radius: 5px;
    }
    .moreinfocontainer {
        top: 60px;
        left: 947px;
        right: auto;
    }
    .wallart {
        top: 25px;
        left: 915;
        width: 475px;
        height: 635px;
    }
    .floorcontainer {
        top: 1040;
        width: 100%;
    }
    .hardwood {
        content: url(../images/hardwood1_crop.png);
        width: 100%;
        z-index: 1;
    }
    .rug {
        top: 60;
        left: 600;
        width: 600;
    }
    .dog {
        top: -70;
        left: 745;
        transform: none;
        z-index: 0;
    }
    .barley {
        width: 500px;
    }
    .sound {
        top: 7px;
        right: 7px;
        filter: none;
    }
    .castcontainer {
        padding: 10%;
        margin: 10%;
        width: 80%;
        animation: 16s credits linear infinite;
    }
    .castHeader {
        font-size: 72;
    }
    .cast {
        font-size: 36;
    }
    .creditheader {
        margin-top: 30px;
        font-size: 48;
    }
    .table {
        text-align: inherit;
        width: 80%;
        margin-top: 50px;
        display: inline;
    }
    .tableheader {
        text-align: inherit;
        font-size: 48;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .column {
        width: 48%;
        padding: 5px;
        font-size: 24;
    }
    .column>div {
        margin-bottom: 20px;
    }
    .columnone {
        text-align: left;
        float: left;
    }
    .columntwo {
        float: right;
        text-align: right;
    }
    .userMediaMessage {
        z-index: 1000000000000;
        font-size: 24;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 10%;
    }
    .accesswaiting>div {
        float: left;
        margin-left: 20px;
        font-size: 42;
    }
    .accesswaiting {
        display: inline-block;
        margin-bottom: 30px;
        margin-left: -20px;
    }
    .accessstatus {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .sound {
        height: 40px;
        width: 40px;
        top: 5px;
        right: 5px;
    }
    .canvasimage {
        z-index: -1;
        display: none;
    }
    .canvascontainer {
        display: inline-block;
        vertical-align: middle;
        height: 200px;
        padding-top: 22%;
        margin-left: 14%;
        text-align: left;
    }
    .canvasboard {
        width: 100%;
        height: 100%;
        position: relative;
        /* text-align: center; */
        z-index: 1000;
    }
    .letter {
        width: 50px;
        height: 70px;
        vertical-align: top;
        z-index: 1;
        display: inline-flex;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
    .e,
    .o,
    .m,
    .u,
    .a,
    .s,
    .r {
        /* height: 20%; */
        margin-top: 17px;
    }
    .l {
        width: 40px;
        height: 80px;
    }
    .uppercase_l,
    .t {
        height: 100px;
    }
    .o {
        width: 40;
        height: 40;
    }
    .e {
        width: 60;
        height: 40;
    }
    .y {
        padding-top: 25px;
    }
    .a {
        width: 40;
        height: 50;
    }
    .word {
        display: inline-flex;
        margin-right: 30px;
        height: 70px;
    }
    .directions-container {
        width: 240px;
        height: 300px;
    }
    .directions-header {
        font-size: 22px;
        margin-top: 30;
        letter-spacing: 1.5;
    }
    .directions-text {
        font-size: 18px;
        margin-top: 30;
    }
    .suggestchannel {
        max-width: unset;
        top: 680;
        right: 40;
    }
    .suggestchanneltext {
        font-size: 16px;
        font-weight: bolder;
    }
    .suggestchanneldesc {
        font-size: 12px;
    }
    @keyframes credits {
        0% {
            top: 50%;
        }
        100% {
            top: -110%;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 1140px) {
    .rug {
        left: 22%;
    }
    .dog {
        left: 25%;
    }
    .wallart {
        top: 650;
        left: 200;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1090px) {
    .rug {
        width: 60%;
    }
    .barley {
        width: 58%;
    }
}