html, body {
    min-height: 1230px;
    overflow-y: scroll;
    background-image: url(../images/bicycle.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:url(../images/ochand.png) 1 17, auto;
}


.main{
  
}

.oldtv{
    margin-top: 38px;
    margin-left: 87px;
    width: 852px;
    height: auto;
}

.channeldisplay{
    position: absolute;
    top: 180;
    left: 810;
    text-align: center;
    background: #444242;
    border-radius: 4px;
    opacity: .9;
    font-family: 'Apple II Screen Typeface', sans-serif;
    font-size: 38;
    width: 55;
    height: 50;
    color: #bd3636;
    display:none;
}

.oldtvscreen{
    height: inherit;
    width: inherit;
    z-index: 10;
    position: absolute;

    /* opacity: 0.6; */
}

.usertvscreencontainer{
    height: inherit;
    width: inherit;
    object-fit: cover;
    display:none;
    z-index:10;
    position: absolute;
}

#usertvscreen{
    height: inherit;
    width: inherit;
    object-fit: cover;
    opacity: .1;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    filter:        url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
   -webkit-filter: grayscale(100%);
   -moz-filter:    grayscale(100%);
   -ms-filter:     grayscale(100%);
   -o-filter:      grayscale(100%);
   filter: gray;
}

.channelvideo{
    width: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left:0;
    display:none;
    z-index: 1
}
 .tvturning{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    background-size: cover;
    overflow: hidden;
    opacity:.7;
    margin-top: -120;
 }


.channelvideocontainer{
    z-index: 10;
    height: 460px;
    width: 575px;
    margin-left: 170px;
    margin-top: 105px;
    display: none;
    position:absolute;
    overflow: hidden;
    background: #332f2f;
}

.oldtvremote{
    width:300px;
    height:auto;
}

.remotebutton{
    width: 16px;
    height: 16px;
    background: red;
    display: inline-block;
    position: absolute;
    z-index: 1000000;
}

#buttononoff{
    left: 103px;
    top: 115px;
}

#buttonchannelup{
    left: 132px;
    top: 105px;
}

#buttonchanneldown{
    left: 150px;
    top: 140px;
}

#buttonfullscreen{
    left: 170;
    top: 173;
}

#buttonmoreinfo{
    left: 97;
    top: 195;
}

.tvremotecontainer{
    display: inline-block;
    position: absolute;
    right: 350;
    top:500;
    z-index: 100000;
    transform: rotate(-5deg);
    display:none;
}

.oldtvcontainer{
    position: absolute;
    top: 1%;
    left: 0;
    height: 100%;
    z-index:1000;
}

.moreinfo{
    border: 1px solid #485b69;
    border-radius: 5px;
    opacity: .9;
    width: 400px;
    height: 550px;
    background: white;
    padding:5px;
}

.moreinfocontainer{
    position: absolute;
    top: 60px;
    right: 20px;
    display:none;
}

.sound{
    height:40px;
    width:40px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index:10000 !important;
}
.sound > .yes{
    display:none;
    height:inherit;
}
.sound > .no{
    height:inherit;
}

.canvasimage{
    z-index:-1;
    display:none;
}
.canvascontainer{ 
    display: inline-block;
    vertical-align: middle;
    height: 200px;
    padding-top: 22%;
    margin-left: 14%;
    text-align: left;
}

.canvasboard{
    width: 100%;
    height: 100%;
    position: relative;
    /* text-align: center; */
    z-index: 1000;
}

.letter {
    width: 50px;
    height: 70px;
    vertical-align: top;
    z-index:1;
    display: inline-flex;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}



.e, .o, .m, .u, .a, .s, .r{
    /* height: 20%; */
    margin-top: 17px;
}

.l{
    width: 40px;
    height:80px;
}

.uppercase_l, .t{
    height:100px;
}

.o{
    width: 40;
    height: 40;
}

.e{
    width: 60;
    height: 40;
}

.y{
    padding-top: 25px;
}

.a{
    width: 40;
    height: 50;
}

.word{
    display:inline-flex;
    margin-right: 30px;
    height:70px;
}

